{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "curly": "error",
    "eqeqeq": "error",
    "quotes": ["error", "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "no-multiple-empty-lines": ["error", {
      "max": 1
    }],
    "eol-last": "error"
  }
}
